@model List<MalzemeTakip.Models.Domain.Yemek>
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1> Yemekleri Listele</h1>
    </div>
</div>
<div class="container py-5">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Yemek Adı</th>
                    <th>Malzemeler-Malzeme Miktarı gr</th>
                    <th>İşlemler</th> <!-- Yemek düzenleme bağlantısı için yeni sütun eklendi -->
                </tr>
            </thead>
            <tbody>
                @foreach (var yemek in Model)
                {
                    <tr>
                        <td>@yemek.Id</td>
                        <td>@yemek.YemekName</td>
                        <td>
                            @if (yemek.MalzemeYemekler.Any())
                            {
                                <ul>
                                    <!-- Malzemeleri liste halinde göstermek için bir liste kullanıldı -->
                                    @foreach (var malzemeYemek in yemek.MalzemeYemekler)
                                    {
                                        <li>
                                            @if (malzemeYemek.Malzeme != null)
                                            {
                                                @malzemeYemek.Malzeme.MalzemeName
                                            }
                                            @if (malzemeYemek.Miktar != null)
                                            {
                                                <span>Miktar: @malzemeYemek.Miktar</span>
                                            }
                                            else
                                            {
                                                <p>Malzeme bilgisi bulunamadı!</p>
                                            }
                                        </li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <p>Malzeme bulunamadı!</p> <!-- Malzemesi olmayan yemek için mesaj -->
                            }
                        </td>
                        <td>
                            <a asp-area="" asp-controller="Yemek"
                               asp-action="Edit"
                               asp-route-name="@yemek.YemekName">Düzenle</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Yemek Bulunamadı!</p>
    }
</div>
